<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <h3>Welcome to our Flask site.</h3>
    <hr/>
    
    {% for message in data %}
    <p class="message"><em>{{ message.author }}</em> : {{ message.text }} </p>
    {% endfor %}
    <hr/>
    
    <form  action="/add" method="POST">
        <input type="text" name="msg" placeholder="write something"/>
        
        <input type="submit" value="Submit"/>
    </form>>
        
</body>
</html>